/* Base styles */
/* Global vars
 * --a-btn-c => Summary in details in .accrordion colors (c)
 * --a--btn--fs => Summary in details in .accrordion font size (fs)
 * --a--btn--fw => Summary in details in .accrordion font weight (fw)
 * --a-btn-px => Summary in details in .accrordion padding block (px)
 * --a-body-pb => body in .accrordion padding bottom (pb)
 */
.accordion {
  --a-c: var(--body-c);
  --a-tt: 0.15s;

  --_a--bc: var(--a--bc, var(--bc));
  --_a--bw: var(--a--bw, var(--bw));
  --_a--bs: var(--a--bs, var(--bs));
  --_a-s: clamp(16px, 0.812rem + 0.765vw, 24px);

  --a-icon: url("data:image/svg+xml,<svg width='16' height='11' viewBox='0 0 16 11' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M1.88 10.56L8 4.44L14.12 10.56L16 8.66666L8 0.666664L0 8.66666L1.88 10.56Z' fill='#3F4753'/></svg>");
  --a-icon-s: clamp(24px, 1.312rem + 0.765vw, 32px);
  --a-icon-t: transform 0.2s ease-in-out;
  --a-icon-tr: 0deg;

  --a-body-px: var(--a-btn-padding-x);
  --a-body-padding-y: var(--a-btn-padding-y);

  --a-active-color: var(--c-primary);
  --a-active-bg: var(--a-c);

  border-top: var(--_a--bc) var(--_a--bw) var(--_a--bs);

  summary {
    cursor: pointer;
    display: flex;
    list-style: none;
    overflow-anchor: none;
    color: var(--a-btn-c, var(--a-c));
    font-size: var(--a--btn--fs, clamp(18px, 0.984rem + 0.574vw, 24px));
    font-weight: var(--a--btn--fw, var(--fw-semibold));
    padding-block: var(--a-btn-px, var(--_a-s));

    &::after {
      content: "";
      width: var(--a-icon-s);
      height: var(--a-icon-s);
      mask-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M9.88 11.44L16 17.56L22.12 11.44L24 13.3333L16 21.3333L8 13.3333L9.88 11.44Z' fill='%233F4753'/%3E%3C/svg%3E%0A");
      mask-repeat: no-repeat;
      mask-size: cover;
      background-color: var(--a-c);
      margin-left: auto;
      transform: rotate(var(--a-icon-tr));
      transition: var(--a-icon-t);
    }

    /*
      &:focus {
        z-index: 3;
        border-color: var(--a-btn-focus-border-color);
        outline: 0;
        box-shadow: var(--a-btn-focus-box-shadow);
      }
    */
  }

  summary::-webkit-details-marker {
    display: none;
  }

  .accordion--body {
    display: grid;
    grid-template-rows: var(--a--ab-gtr, 0fr);
    transition: grid-template-rows 0.5s;
    border-bottom: var(--_a--bc) var(--_a--bw) var(--_a--bs);

    & > .field {
      overflow: hidden;
    }
  }

  & details[open] {
    --a-icon-tr: -180deg;

    & + .accordion--body {
      --a--ab-gtr: 1fr;

      padding-bottom: var(--a-body-pb, var(--_a-s));
    }
  }
}
